/*******************/
/***** FONTIT ******/
/*******************/
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Bitter/static/Bitter-Regular.ttf) format('truetype');
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/Bitter/static/Bitter-Bold.ttf) format('truetype');
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Inter/static/Inter_18pt-Regular.ttf) format('truetype');
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/Inter/static/Inter_18pt-Italic.ttf) format('truetype');
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/Inter/static/Inter_18pt-Bold.ttf) format('truetype');
}

/*********************/
/***** YLÄLAITA ******/
/*********************/
nav.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    a.logo {
        text-decoration: none;
    }
    .author-name {
        font-family: 'Bitter';
        font-size: 22px;
        font-weight: 600;
        color: $black;
        line-height: $base-line-height + 0.4;
        padding: 0 .5rem;
        letter-spacing: 0.015rem;
    }
    .header-author-avatar {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        object-fit: cover;
        max-width: 100%;
        vertical-align: middle;
        margin: 0 auto;
        text-align: center;
    }
    .trigger {
        font-size: 18px;
    }
}


/********************/
/***** ETUSIVU ******/
/********************/
div.author {
    margin-top: 4em;
    h2.author-name {
        font-family: 'Bitter';
        font-size: 2.1em;
        margin-bottom: 40px;
    }
    img.author-avatar {
        width: 100px;
        height: 100px;
    }
    .author-bio-large {
        margin: 0 auto;
        max-width: 500px;
        line-height: 1.688;
        text-align: left;
  }
}


/*************************/
/***** BLOGIPOSTAUS ******/
/*************************/
.page-content {
    h1, h2, h3, h4, h5 {
        font-family: 'Bitter';
        font-weight: 600;
    }
    h2 {
        font-size: 24px;
    }
}
header.header {
    margin-top: 4em;
    @include media-query($on-mobile) {
      margin-top: 7em;
    }
}
.header h1.header-title {
  font-family: 'Bitter';  
  font-size: 2.1em;
    margin-bottom: 10px;
}
div.post-meta {
    margin-bottom: 10px;
}

.page-content img[src$='#floatleft'] {
	float: left;
    margin-right: 10px
}

.page-content img[src$='#floatright'] {
	float: right;
    margin-left: 10px;
}


/***********************/
/***** TUMMA TILA ******/
/***********************/
@mixin dark-mode {
    nav.menu .author-name {
        color: $dark-white;
    }
}
// support JS disabled environment with media query
@media (prefers-color-scheme: dark) {
  // use "light" class to avoid style conflicts in js enabled environment
  html:not(.light) {
    @include dark-mode()
  }
}
html.dark {
  @include dark-mode()
}