<!-- {{ $avatar_img := .Site.Params.author.avatar }}
{{ $avatar_img_alt := .Site.Params.author.name }}
{{ $image := resources.Get $avatar_img }} -->
<div class="author">
    <!--{{ with $image }}
    {{ if eq .MediaType.SubType "svg" }}
    <svg width="25em" height="25em" xmlns="http://www.w3.org/2000/svg">
        <image width="25em" height="25em" href="{{ $image.RelPermalink }}" />
    </svg>
    {{ else }}
    {{ $image := $image.Fill "100x100 webp q95" }}
    <img class="author-avatar" src="{{ $image.RelPermalink }}" alt="{{ $avatar_img_alt }}" width="{{ .Width }}"
        height="{{ .Height }}" />
    {{ end }}
    {{ end }}-->
    <h2 class="author-name">{{ .Site.Params.author.intro }}</h2>
    <!-- <p class="author-bio">{{ .Site.Params.author.description }}</p> -->
     <div class="author-bio-large">
        <p>Welcome to my site. I'm a data engineer living in Kuopio, Finland.
            Over the years I've also done database administration, server admin stuff and web development.
        </p>
        <p>A few other things about me:</p>
        <ul>
            <li>Father of two girls (ages 9 & 12) 👧👧</li>
            <li>Long-distance runner since 2011 👟</li>
            <li>Snowboarder since 1997 🏂</li>
            <li>Amateur photographer 📷</li>
            <li>Occasional gamer 🎮</li>
            <li>Music nerd 🎵</li>
        </ul>
        <p>I blog about all kinds of stuff that I find interesting.</p>
    </div>
</div>
