<script defer src="https://umami-nu-two.vercel.app/script.js" data-website-id="720e3756-4896-4156-8600-d425b9f5834f"></script>

{{/* Ladataan vain blogipostauksen frontmatterin css-määrityksen mukaiset tiedostot */}}
{{ with .Params.css }}
  {{ range . }}
    {{ $css := resources.Get (print "sass/" .) | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  {{ end }}
{{ end }}

{{/* Ladataan vain blogipostauksen frontmatterin js-määrityksen mukaiset tiedostot */}}
{{ with .Params.js }}
  {{ range . }}
    {{ $js := resources.Get (print "js/" .) | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
  {{ end }}
{{ end }}
